@import "tailwindcss";

:root {
	/* Surface */
	--bg: var(--color-stone-100);
	--bg-secondary: var(--color-stone-50);

	/* Content */
	--fg: var(--color-gray-800);
	--fg-subtle: var(--color-gray-500);

	/* Border */
	--border: rgb(0 0 0 / 5%);

	/* Brand */
	--brand: var(--color-violet-500);

	/* Special */
	--nav: rgb(235 235 235 / 60%);
}

@theme inline {
	--color-bg: var(--bg);
	--color-bg-secondary: var(--bg-secondary);

	--color-fg: var(--fg);
	--color-fg-subtle: var(--fg-subtle);

	--color-border: var(--border);

	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-tertiary: var(--tertiary);

	--color-nav: var(--nav);
}

/* Heading */
@utility text-heading-sm {
	font-size: 24px;
	line-height: 32px;
}

@utility text-heading-lg {
	font-size: 48px;
	line-height: 56px;
}

/* Body */
@utility text-body-sm {
	font-size: 16px;
	line-height: 28px;
}

@utility text-body-md {
	font-size: 20px;
	line-height: 32px;
}

/* Weight */
@utility font-subtle {
	font-weight: 300;
}

@utility font-strong {
	font-weight: 600;
}

:lang(fa) {
	.text-heading-sm {
		font-size: 32px;
		line-height: 1;
	}

	.text-heading-lg {
		font-size: 56px;
		line-height: 1;
	}

	.text-body-sm {
		font-size: 20px;
		line-height: 28px;
	}

	.text-body-md {
		font-size: 24px;
		line-height: 32px;
	}

	.font-subtle {
		font-weight: 400;
	}

	.font-strong {
		font-weight: 700;
	}
}

@theme {
	--font-sans: var(--font-outfit);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
